body {
  font-family: sans-serif;
  background-color: cadetblue;
}

.container {
  background-color: grey;
  height: 300px;
  width: 600px;
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid black;
  /* overflow-y: scroll; */
}

.chips {
  background-color: white;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  display: inline-block;
  padding-right: 10px;
  margin: 10px;
}
.container .chips img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.remove-chip {
  font-size: 25px;
  font-weight: bolder;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
